<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.bootcdn.net/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css" rel="stylesheet">
    <title>首页</title>
    <style>
    table {
        text-align: center;
        border-collapse: collapse;
        border: 2px solid black;
      }
      th, td {
        text-align: center;
        padding: 5px;
        border: 1px solid black;
        width: 175px;
        font-size: 16px;
      }
      th {
        background-color: lightgrey;
      }
      </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">导航</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">主页</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">简介</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  上传数据或文件
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{{ url_for('file.upload' ) }}">Excel表格上传</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('pol.register' ) }}">污染物登记</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">其他</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="请输入关键词" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">搜索</button>
            </form>
          </div>
        </div>
      </nav>
      <br>
    <h1>污染物登记首页</h1>
    <br>
    <form action="{{url_for('pol.register')}}" method="post">
        <table>
            <tr>
                <th>CAS号</th>
                <th>污染物名称</th>
                <th>监测点位号</th>
                <th>单位</th>
                <th>浓度</th>
            </tr>
            <tr>
                <td>
                    <input type="text" name="CAS" placeholder="CAS号">
                </td>
                <td>
                    <input type="text" name="name" placeholder="污染物名称">
                </td>
                <td>
                    <input type="text" name="location" placeholder="监测点位号">
                </td>
                <td>
                    <select name="unit" id="">
                        <option value="0">
                            请选择单位
                            <option value="无">无</option>
                            <option value="g/L">g/L</option>
                            <option value="mg/L">mg/L</option>
                            <option value="μg/L">μg/L</option>
                            <option value="ng/L">ng/L</option>
                        </option>
                    </select>
                </td>
                <td>
                    <input type="text" name="conc" placeholder="浓度">
                </td>
            </tr>
        </table>
        <br>
        <p><input type="submit" value="登记"></p>
        <p><a href="{{url_for('pol.show')}}">展示已有污染物数据</a></p>
    </form>
    <script src="https://cdn.bootcdn.net/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.bootcdn.net/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css" rel="stylesheet">
    <title>首页</title>
    <style>
        body {
            padding-top: 20px;
        }

        table {
            text-align: center;
            border-collapse: collapse;
            border: 2px solid black;
            margin: 0 auto;
            width: 90%;
            max-width: 800px;
        }

        th,
        td {
            text-align: center;
            padding: 10px;
            border: 1px solid black;
            font-size: 16px;
        }

        th {
            background-color: lightgrey;
        }

        .navbar-brand {
            font-weight: bold;
        }

        .form-control {
            width: 300px;
        }

        h1 {
            text-align: center;
        }

        form {
            text-align: center;
            margin-top: 30px;
        }

        .btn {
            margin-top: 10px;
        }

        .footer {
            text-align: center;
            margin-top: 30px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">导航</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">主页</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">简介</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            上传数据或文件
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('file.upload' ) }}">Excel表格上传</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('pol.register' ) }}">污染物登记</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">其他</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="请输入关键词" aria-label="Search">
<button class="btn btn-outline-success" type="submit">搜索</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container">
        <h1>污染物登记首页</h1>
        <form action="{{url_for('pol.register')}}" method="post">
            <table>
                <tr>
                    <th>CAS号</th>
                    <th>污染物名称</th>
                    <th>监测点位号</th>
                    <th>单位</th>
                    <th>浓度</th>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="CAS" placeholder="CAS号">
                    </td>
                    <td>
                        <input type="text" name="name" placeholder="污染物名称">
                    </td>
                    <td>
                        <input type="text" name="location" placeholder="监测点位号">
                    </td>
                    <td>
                        <select name="unit" id="">
                            <option value="0">请选择单位</option>
                            <option value="无">无</option>
                            <option value="g/L">g/L</option>
                            <option value="mg/L">mg/L</option>
                            <option value="μg/L">μg/L</option>
                            <option value="ng/L">ng/L</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" name="conc" placeholder="浓度">
                    </td>
                </tr>
            </table>
            <br>
            <input class="btn btn-primary" type="submit" value="登记">
            <p><a href="{{url_for('pol.show')}}">展示已有污染物数据</a></p>
        </form>
    </div>

    <script src="https://cdn.bootcdn.net/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>
